.continents {
  display: flex;
  flex-wrap: wrap;
  }
.continent {
  padding: 0 23px;
  width: 373px;
  min-height: 377px;
  &__title {
    margin-top: 16px;
    margin-bottom: 5px;
    h2 {
      text-align: center;
      font-size: 38px;
      line-height: 1.2;
      font-weight: 700;
      color: #ffffff;
    }
  }

  &_america {
    background-color: rgba(0, 54, 99, .7);
  }
  &_europe {
    background-color: rgba(99, 4, 96, .7);
  }
  &_asia {
    background-color: rgba(158, 11, 15,  .7);
  }
  &_africa{
    background-color: rgba(255, 242, 0, .7);
  }
  &_australia{
    background-color: rgba(247, 148, 29, .7);
  }
}

