@media(max-width: 1148px) {
  .container {
    max-width: 776px;
  }
  .continent {
    &_america {
      order: 1;
    }
  }
}
@media(max-width: 776px) {
  .container {
    max-width: 373px;
  }
  .continent {
    padding: 0 9px;
  }
  .continent_display-none {
    display: none;
  }
}