* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}
.container {
  max-width: 1149px;
  margin: 0 auto;
  padding: 0 15px;
}

@import "./planet";
@import "./continents";
@import "./country";
@import "./cities";
@import "./city";

@import "./media";