<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title World map
    link(rel="stylesheet", href="css/style.css")
  body
    .container
      .planet
        .continent

          .continent__item.continent__item_blue
            .continent__title
              h2 Америка
            .country
              .country__info
                .country__flag
                  img(src="img/USA.png", alt="")
                .country__title
                  h3 США
              .city
                .city__main-title
                  h4 Города:
                .city__inner
                  .city__item
                    .city__flag
                      img(src="img/NewYork.png", alt="")
                    .city__title
                      h5 Нью-Йорк
                  .city__item
                    .city__flag
                      img(src="img/Chicago.png", alt="")
                    .city__title
                      h5 Чикаго

          .continent__item.continent__item_violet
            .continent__title
              h2 Европа
            .country
              .country__info
                .country__flag
                  img(src="img/USA.png", alt="")
                .country__title
                  h3 Франция
              .city
                .city__main-title
                  h4 Города:
                .city__inner
                  .city__item
                    .city__flag
                      img(src="img/NewYork.png", alt="")
                    .city__title
                      h5 Нью-Йорк
                  .city__item
                    .city__flag
                      img(src="img/Chicago.png", alt="")
                    .city__title
                      h5 Чикаго

          .continent__item.continent__item_red
            .continent__title
              h2 Азия
            .country
              .country__info
                .country__flag
                  img(src="img/USA.png", alt="")
                .country__title
                  h3 Китай
              .city
                .city__main-title
                  h4 Города:
                .city__inner
                  .city__item
                    .city__flag
                      img(src="img/NewYork.png", alt="")
                    .city__title
                      h5 Нью-Йорк
                  .city__item
                    .city__flag
                      img(src="img/Chicago.png", alt="")
                    .city__title
                      h5 Чикаго

          .continent__item.continent__item_blue.continent__item_display-none

          .continent__item.continent__item_yellow
            .continent__title
              h2 Африка
            .country
              .country__info
                .country__flag
                  img(src="img/USA.png", alt="")
                .country__title
                  h3 ЮАР
              .city
                .city__main-title
                  h4 Города:
                .city__inner
                  .city__item
                    .city__flag
                      img(src="img/NewYork.png", alt="")
                    .city__title
                      h5 Нью-Йорк
                  .city__item
                    .city__flag
                      img(src="img/Chicago.png", alt="")
                    .city__title
                      h5 Чикаго

          .continent__item.continent__item_orange
            .continent__title
              h2 Австралия
            .country
              .country__info
                .country__flag
                  img(src="img/USA.png", alt="")
                .country__title
                  h3 Австралия
              .city
                .city__main-title
                  h4 Города:
                .city__inner
                  .city__item
                    .city__flag
                      img(src="img/NewYork.png", alt="")
                    .city__title
                      h5 Нью-Йорк
                  .city__item
                    .city__flag
                      img(src="img/Chicago.png", alt="")
                    .city__title
                      h5 Чикаго





