<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title World map
    link(rel="stylesheet", href="css/style.css")
  body
    .container
      .planet
        .continents

          .continent.continent_america
            .continent__title
              h2 Америка
            .country
              .country__info
                .country__flag
                  img(src="img/america/USA.png", alt="")
                .country__title
                  h3 США
              .cities
                .cities__title
                  h4 Города:
                .cities__list
                  .city
                    .city__flag
                      img(src="img/america/NewYork.png", alt="")
                    .city__name
                      h5 Нью-Йорк
                  .city
                    .city__flag
                      img(src="img/america/Chicago.png", alt="")
                    .city__name
                      h5 Чикаго

          .continent.continent_europe
            .continent__title
              h2 Европа
            .country
              .country__info
                .country__flag
                  img(src="img/europe/france.jpg", alt="")
                .country__title
                  h3 Франция
              .cities
                .cities__title
                  h4 Города:
                .cities__list
                  .city
                    .city__flag
                      img(src="img/europe/paris.jpg", alt="")
                    .city__name
                      h5 Париж
                  .city
                    .city__flag
                      img(src="img/europe/marsel.jpg", alt="")
                    .city__name
                      h5 Марсель

          .continent.continent_asia
            .continent__title
              h2 Азия
            .country
              .country__info
                .country__flag
                  img(src="img/asia/china.jpg", alt="")
                .country__title
                  h3 Китай
              .cities
                .cities__title
                  h4 Города:
                .cities__list
                  .city
                    .city__flag
                      img(src="img/asia/pekin.jpg", alt="")
                    .city__name
                      h5 Пекин
                  .city
                    .city__flag
                      img(src="img/asia/shanghai.png", alt="")
                    .city__name
                      h5 Шанхай

          .continent.continent_america.continent_display-none

          .continent.continent_africa
            .continent__title
              h2 Африка
            .country
              .country__info
                .country__flag
                  img(src="img/africa/SA.jpg", alt="")
                .country__title
                  h3 ЮАР
              .cities
                .cities__title
                  h4 Города:
                .cities__list
                  .city
                    .city__flag
                      img(src="img/africa/pretoria.png", alt="")
                    .city__name
                      h5 Претория
                  .city
                    .city__flag
                      img(src="img/africa/johannesburg.png", alt="")
                    .city__name
                      h5 Йоханнесбург

          .continent.continent_australia
            .continent__title
              h2 Австралия
            .country
              .country__info
                .country__flag
                  img(src="img/australia/Australia.png", alt="")
                .country__title
                  h3 Австралия
              .cities
                .cities__title
                  h4 Города:
                .cities__list
                  .city
                    .city__flag
                      img(src="img/australia/canberra.png", alt="")
                    .city__name
                      h5 Канберра
                  .city
                    .city__flag
                      img(src="img/australia/Melbourne.jpg", alt="")
                    .city__name
                      h5 Мельбурн





